!!!
html
    head
      title= "Input Output"
      script(src="http://code.jquery.com/jquery-1.9.1.min.js")
      script(src='/chat.js')
      script(src='/socket.io/socket.io.js')
    body
        #content