body {
	font-family: "Arial", sans-serif;
	font-size: x-small;
	background: #333;
	color: white;
	height: 100%;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

#map, #content {
	width: 100%;
	height: 100%;
}